.row {
  width: 85%;
  margin: auto;
}

nav > .container {
  width: 90% !important;
  max-width: none !important;
}

ul {
  list-style-type: none;
}

body {
  font-size: 100% !important;
}

.lightbackground {
  background: #DEF2F1;
    margin-top: 2%;
    padding-bottom: 2%;
}

.profpic {
  border: 4px solid #DEF2F1;
  text-align: center;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto
}

.profpic > img {
  width: 100%;height: 150%;margin: -75px 0 0 -1px;
}

h3, h4 {
  color: #ff652f;
}

.bg-primary > .container > .navbar-translate > .navbar-brand {
  color: white;
}

.darkbackground {
  background: #757575;
  margin-top: 2%;
  padding-bottom: 2%;
  color: white;
}

.darkbackground > .container > .row > h3 {
  color: white !important;
}

.vertalign {
  position: relative;
top: 50%;
transform: translateY(-50%);
}

.whitelink {
  color: #FFF
}

.skills > li > span {
  float: right;
  color: #ff652f;
}

.orangecolor {
  color: #ff652f;
}
